<h1>Editing task</h1>

<%= form_for([@current_user, @task]) do |f| %>
  <%= render 'form', :f => f %>
  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<%= link_to 'Show',[ @current_user, @task] %> |
<%= link_to 'Back', user_tasks_path(@current_user) %>
