<h1>Editing user</h1>

<%= form_for(@user) do |f| %>
  <%= render 'form', :f => f %>
  
  <div class="actions">
    <%= f.hidden_field :last_ip, :value => request.remote_ip %>
    <%= submit_tag "Save" %>
  </div>
<% end %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
